{% extends 'base_front.html.twig' %}

{% block title %}Faire un abonnement{% endblock %}

{% block body %}
    <h1>Faire un abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a href="{{ path('abonnement_index') }}" class="btn btn-success">Retour à la liste</a>
{% endblock %}
