{% extends 'base_front.html.twig' %}
{% block body %}
    <div align="center">
    <h1>Veuillez remplir ce formulaire pour avoir un meilleur programme de nutrition</h1>

    {{ include('info_user_nutrition/_form.html.twig') }}
    </div>
{% endblock %}
