{% extends 'base_front.html.twig' %}
{% block body %}

    <div align="center">
        <h1>ajouter un Entrainement</h1>
        <br/><br/>
        {{ include('entrainement/_form.html.twig') }}

{#    <a href="{{ path('entrainement_index') }}" class="btn btn-success">retour a la liste</a>#}
    </div>

{% endblock %}
