{% extends 'base_back.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Promouvoir l'utilisateur comme entraîneur</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('coach_new', {'id': user.id}) }}">Promouvoir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun user trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

